@font-face{
	font-family:"opensans-bold";
	src:url('fonts/OpenSans-Bold-webfont');
}
body { background: #0f0f0f; 
       font-family:"opensans-bold";
}
header {
   position: relative;
   height: auto;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/blackk.jpg) no-repeat top center;
   background-size: cover !important;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
   margin-top: 100px;
}

header .headline { width: 100%; }
header .headline h1 {
   color: rgba(168,168,168,0.5);
   font-size: 150px;
   font-family: 'Nosifer', cursive;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   margin-top: 100px;
}
header .headline h2 {
	font: 30px 'opensans-bold', sans-serif;
	text-transform: uppercase;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
}
header .headline h3 {
	font: 20px 'opensans-bold', sans-serif;
	text-transform: uppercase;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
}
header .headline h4 {
	font: 20px 'opensans-bold', sans-serif;
	text-transform: uppercase;
   color: #CD853F;
   margin: 0 auto;
   width: 70%;
}
header p{
	color:#CD853F;
	font-size: 25px;
}
header .headline hr {
   width: 60%;
   margin: 18px auto 24px auto;
   height:1px solid;
   border-color:#CD853F;
   animation-name: example;
  animation-duration: 10s;
}
@keyframes example {
  0%   {background-color:#fff; }
  25%  {background-color:#e8b02c; }
  50%  {background-color:#756745; }
  75%  {background-color:#332b16; }
  100% {background-color:#b59f65; }
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #A8A8A8; }
header .social li a:hover { color: #CD853F; }


#navigacija ul, #navigacija li, #navigacija a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#navigacija {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

#navigacija a:hover {
   color: rgb(255, 138, 92);
   transition: 1ms;
}

ul#nav {
   min-height: 48px;
   width: auto;
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {
   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
   text-decoration: none;
   text-align: left;
   color: #A8A8A8;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #CD853F; font-size: 20px;}


footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #CD853F; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #f58c53;
}

footer .social-links li:first-child { margin-left: 0; }

#images {
  width: 100%;
  margin: 0 auto;
  text-align:center;
  position: center;
}
 
#style {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 100px;
}

#style .img {
  flex: 22%;
  max-width: 22%;
  padding: 0 4px;
  border: 1px solid #CCC;
  text-align: center;
  margin-right: 5px;
}



#style .img img {
  width: 100%;
  vertical-align: middle;
}

.img:hover{
    transform: scale(1.1);
}
#about {
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
   font-family: sans-serif;
   color: #fff

}
#about h2 {
   font: 30px sans-serif;
   font-weight: 900;
   color: #A8A8A8;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #fff;
}
#about .contact-details { 
width: 41.67%;
float: left;
}

#about .text { 
  padding-right: 5%;
  margin-left: 50px;
 }

.cell{
  text-align: center;
  color: #fff;
}

.bars {
   width: 90%;
   float: left;
   padding: 0;
   text-align: left;
}
.bars .models {
   margin-top: 30px;
   list-style: none;
   margin-left: 10%;
   margin-right: 5%;
}
.bars li {
   position: relative;
   margin-bottom: 50px;
   background: #ccc;
   height: 30px;
   border-radius: 3px;
}
.bars li em {
   font: 15px 'opensans-bold', sans-serif;
   color: #A8A8A8;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: normal;
   position: relative;
   top: -28px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
   background: #313131;
   display: inline-block;
   height: 30px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.swan {
   width: 60%;
   -moz-animation: photoshop 2s ease;
   -webkit-animation: photoshop 2s ease;
}
.princess {
   width: 35%;
   -moz-animation: illustrator 2s ease;
   -webkit-animation: illustrator 2s ease;
}
.bag {
   width: 35%;
   -moz-animation: wordpress 2s ease;
   -webkit-animation: wordpress 2s ease;
}

#contact {
   padding-top: 96px;
}
#contact label {
   margin: 12px 0;
  display: inline-block;
  float: left;
   width: 40%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 10px 5px;
   background:#A8A8A8 ;
   margin-bottom: 30px;
   border: 2px solid #0f0f0f;
   outline: none;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
  background-color:  #CD853F;
}
#contact button.submit {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color:  #CD853F;
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 3px;
  margin-left: 26%;
}
#contact button.submit:hover {
  background-color: black;
  color: grey;
  transform: scale(1.5);
}
#contact span.required {
  color: #CD853F;
  font-size: 13px;
}

.authorImg {
   width: 20%;
   float: left;
   border-radius: 20px;
}